<div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="#" class="navbar-brand">{{deleteOkTitle}}</a>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/" class="nav-link">Liste des produits</a>
        </li>
  
        <li class="nav-item">
          <a routerLink="add" class="nav-link">Ajouter un produit</a>
        </li>
      </div>
    </nav>



<p>product-delete works!</p>

<div class="container">
    <h1>Le produit a bien été supprimé.</h1>
    <a href="/" class="badge badge-info">Voir tous les produits</a><br>
</div>

</div>

