
<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand"><!-- Détail produit --> {{titleDetail}} </a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/" class="nav-link">Liste des produits</a>
      </li>

      <!-- li class="nav-item">
        <a routerLink="product/5ee75332ded9e23654a9cdb7" class="nav-link">Voir un produit</a>
      </!-->

      <li class="nav-item">
        <a routerLink="add" class="nav-link">Ajouter un produit</a>
      </li>
    </div>
  </nav>
  
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>

<p>product-details works!</p>

<h3>
    {{currentProduct.name}}
</h3>

<p>
    {{currentProduct.description}}
</p>



