
<div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a routerLink="/" class="navbar-brand">{{title}}</a>
        <div class="navbar-nav mr-auto">
          <li class="nav-item">
            <a routerLink="/" class="nav-link">Liste des produits</a>
          </li>
    
          <li class="nav-item">
            <a routerLink="add" class="nav-link">Ajouter un produit</a>
          </li>
        </div>
    </nav>

    <p>product works!</p>
    

    <div *ngFor="let product of products">
        
      <div class="row">

        <div class="col-9">
          <h3>
            {{product.name}}
          </h3>
          <p>
            {{product.description}}
          </p>
        </div>

        <div class="col-3">
          <a routerLink="/product/{{product._id}}" class="badge badge-info">Voir le produit</a><!-- href="/product/{{product._id}}" -->
          <br>
          <a routerLink="/updateProduct/{{product._id}}" class="badge badge-warning">Modifier le produit</a><!--  href="/product/{{product._id}}" -->
          <br>
          <a routerLink="/delProduct/{{product._id}}" class="badge badge-danger">Supprimer le produit</a><!--  href="/product/{{product._id}}" -->
        </div>
      </div>
        
    <hr>
  </div>

</div>

