<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">{{addPrdtTitle}}</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/" class="nav-link">Liste des produits</a>
      </li>

      <li class="nav-item">
        <a routerLink="add" class="nav-link">Ajouter un produit</a>
      </li>
    </div>
  </nav>

  <p>product-add works!</p>
    
  <div class="submit-form">
    <div *ngIf="!isSubmit">

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required name="name" [(ngModel)]="product.name">
      </div>
      
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" required name="description" [(ngModel)]="product.description">
      </div>
      
      <button (click)="saveProduct()" class="btn btn-success">Enregistrer</button>
    </div>
    
    <div *ngIf="isSubmit">
      
      <h4>Le produit a été ajouté</h4>
      <button class="btn btn-success" (click)="newProduct()">Ajouter un produit</button>
    </div>
    
  </div>
  
</div>


